---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Mapa from "../components/Mapa.astro";
import Oferta from "../components/Oferta/Oferta.astro";
import Header from "../components/Header/Header.astro";
import Footer from "../components/Footer/Footer.astro";

---

<Layout title="Asa Branca Pharma">
	<Header />
	<main>
		<Oferta />
		<Card icon="images/logo-whatsapp2.svg" iconAlt="Logo WhatsApp" href="https://wa.me/558391543997"
			title="Faça seu pedido pelo WhatsApp." />
		<Card icon="images/phone-alt-solid.svg" iconAlt="Logo Telefone" href="tel:83 99154-3997"
			title="Ligue para (83) 99154-3997." />
		<Mapa />
	</main>
	<Footer />
</Layout>

<style>
	main {
		margin: auto;
		padding: 1em;
		max-width: 60ch;
	}
</style>