---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Mapa from "../components/Mapa.astro";
import Oferta from "../components/Oferta/Oferta.astro";
import Header from "../components/Header/Header.astro";
import Footer from "../components/Footer/Footer.astro";
import LogoWhatsapp from "../images/logo-whatsapp2.svg";
import LogoPhone from "../images/phone-alt-solid.svg";
import LogoInstagram from "../images/instagram-logo.svg";
---

<Layout title="Asa Branca Pharma">
  <div class="flex flex-col h-screen justify-center items-center">
    <Header />
    <main class="flex-grow w-[80vw] md:w-[60vw]">
      <!-- <Oferta /> -->
      <div
        id="contatos"
        class="my-3 flex flex-col justify-center items-center text-center"
      >
        <h2>Entre em contato</h2>
        <Card
          icon={LogoWhatsapp}
          iconAlt="Logo WhatsApp"
          href="https://wa.me/558391543997"
          title="Faça seu pedido pelo WhatsApp"
        />
        <Card
          icon={LogoPhone}
          iconAlt="Logo Telefone"
          href="tel:83 99154-3997"
          title="Ligue para (83) 99154-3997"
        />
        <Card
          icon={LogoInstagram}
          iconType="img"
          iconAlt="Instagram"
          href="https://instagram.com/asabrancapharma"
          title="Acesse nosso Instagram"
          rel="nofollow"
          target="_blank"
        />
      </div>
      <Mapa />
    </main>
    <Footer />
  </div>
</Layout>

<style></style>
