---
const ano = new Date().getFullYear();
---

<footer>
  <div>
    <p>
      Asa Branca Pharma | © {ano} Todos os direitos reservados.
    </p>
    <p>
      Horário de Funcionamento: De Segunda à Sábado das 8 às 19 horas e Domingo
      de 08 às 12 horas e 16 às 19 horas
    </p>
    <p>
      Endereco: Avenida Joca Claudino, 383, Sala A - Bairro Tancredo Neves,
      Cajazeiras - PB - Cep 58900-000
    </p>
    <p>
      As promoções expostas nesse site são válidas por tempo determinado ou
      enquanto durar o estoque.
    </p>
  </div>
</footer>

<style>
  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background: rgb(2, 0, 36);
    background: linear-gradient(
      0deg,
      rgba(2, 0, 36, 1) 0%,
      rgba(2, 14, 59, 1) 65%,
      rgba(9, 28, 96, 1) 100%
    );
  }

  footer > div {
    font-size: 0.7rem;
    margin: 0;
    padding-bottom: 20px;
    max-width: 80vw;
  }

  footer > div > p {
    text-align: center;
    margin: 2px 0;
  }
</style>
