---
import imagemOferta from "./oferta-semana.jpg";
---

<div class="destaque-oferta">
    <img src={imagemOferta} alt="Oferta da Semana" />
</div>
<style>
    .destaque-oferta {
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 10px;
    }

    .destaque-oferta img {
        width: 100%;
        margin: 10px;
        max-height: 600px;
    }
</style>